# .Gitignore for Scala and IntelliJ

# Secrets
secrets/

# Scala
*.class

# scala 3
.tasty

# IntelliJ
*.log
*.iml
*.ipr
*.iws
.idea
out
lib/

# Others
dist/*
logs/

# sbt
project/project/*
project/target/*
target/*
.bsp/sbt.json

# mac
.DS_Store
